<ion-header>
    <ion-toolbar color="warning">
      <ion-title color="light">
        <h3 class="titulo_app">TeLlevoApp<ion-icon name="car-sport-sharp"></ion-icon></h3>
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="contenedor_login">
        <ion-card-header>
              <ion-card-title class="titulo_app">Iniciar sesion</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
            <ion-item>
                <ion-icon name="person" class="icon-login"></ion-icon>
                <ion-input type="text" placeholder="Usuario" #txtUsuario></ion-input>
            </ion-item>
                <br/>
            <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-input type="password" placeholder="*******" #txtConstrasenia></ion-input>
            </ion-item>
            </ion-list>

            <ion-row>
                <ion-col>
                    <ion-button type="submit" fill="solid" expand="full"  (click)="con(txtUsuario,txtConstrasenia)">
                        Ingresar
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        <a [routerLink] ="['/registro']"><h3 class="link_page">Crear una cuenta</h3></a>
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        <a [routerLink] ="['/restablecer']"><h3 class="link_page">¿Olvido la contraseña?</h3></a>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>



</ion-content>

<ion-footer>
    <ion-toolbar color="warning">
      <ion-title color="light">
        <h3 class="pie_app">Duoc UC</h3>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
