<ion-header>
  <ion-toolbar color= "warning">

  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

      <ion-title color="light">
        <h3 class="titulo_app">TeLlevoApp<ion-icon name="car-sport-sharp"></ion-icon></h3>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="texttitle">
  <h2 color="light">No puedo solicitar servicios</h2>
</div>

  <ion-card>
    <ion-card-header>

      <ion-card-subtitle>No me toma un servicio:</ion-card-subtitle>
      <br>
      <ion-text>El tiempo al pedir un Auto puede tomar mas tiempo de lo normal en horas de alta demanada. Te sugerimos que revises si tienes una buena conexion a internet en tu celular y que intentes pedir nuevamente.</ion-text>
      <br>
      <br>
      <ion-text>Ten en cuenta que, por motivos de seguridad, cancelar muchas viajes puede generar las suspension de la cuenta.</ion-text> 
      <br>
      <br>
      <ion-text>Si aun tienes inconvenientes para solicitar servicios, contactate con nosotros (+56 2 2999 3862), y poder revisar si todo se encuentra bien en tu cuenta.</ion-text>             

    </ion-card-header>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title color="light">
      <h3 class="pie_app">Duoc UC</h3>
    </ion-title>
  </ion-toolbar>
</ion-footer>
