<ion-header>
  <ion-toolbar color= "warning">

  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

      <ion-title color="light">
        <h3 class="titulo_app">TeLlevoApp<ion-icon name="car-sport-sharp"></ion-icon></h3>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="texttitle">
  <h2 color="light">Problemas con la cuenta</h2>
</div>

<ion-card>  
  <ion-card-header>
  <ion-card-subtitle>¿No puede inciar sesion?</ion-card-subtitle>

<div >
  <h2><ion-card-subtitle>  1. Verifica que estas usando los datos de inicio de sesion correctos.</ion-card-subtitle></h2>
  <ion-text>Comprueba que el correo electronico/numero de telefono y la contraseña coincidan con los detalles ingresados al crear tu cuenta.</ion-text>

  <h2><ion-card-subtitle>  2. Restablece tu contraseña.</ion-card-subtitle></h2>
<ion-text>Si olvidaste la contraseña restablece tu contraseña en el siguiente enlace.</ion-text>

  <h2><ion-card-subtitle>  3. contactate con el soporte de DuocUC.</ion-card-subtitle></h2>
  <ion-text>Si aun tienes problemas despues de intentar restablecer la contraseña, comunicate con nosotros.</ion-text>

</div>
  </ion-card-header>
</ion-card>

</ion-content>
