<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />


<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">
      <h3 class="titulo_app">TeLlevoApp<ion-icon name="car-sport-sharp"></ion-icon></h3>
    </ion-title>
    <ion-buttons slot="start" >
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="cuerpo">
<div class="texttitle">
  <h3> WELCOME  <ion-icon name="accessibility-sharp"></ion-icon></h3>
  <h1>¿A dónde te llevo?</h1>
</div>
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!--CUENTA, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->
        <ion-item [routerLink] ="['/inicio']">
          <ion-icon name="enter-sharp"></ion-icon>
          Cierre de sesion
        </ion-item>
        <ion-item [routerLink] = "['/contactos']">
          <ion-icon name="call-sharp"></ion-icon>   
          Contactos
        </ion-item>
        <ion-item [routerLink] = "['/contactos']">
          <ion-icon name="build-sharp"></ion-icon>
          Configuraciones 
        </ion-item>
        <ion-item [routerLink] = "['/ayuda']">
          <ion-icon name="information-circle-sharp"></ion-icon>  
          Ayuda
        </ion-item>
        <!--LOGOUT, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>


  <ion-slides> 

    <ion-slide>
      <div class="slide">
        <img src="assets/fotos_app/auto.jpg"/>
        <h2>Rapido</h2>
        <p>TeLlevo app es rapido por lo que los conductores de duoc estaran contigo lo mas rapido posible</p>
      </div>
    </ion-slide>
  
    <ion-slide>
      <img src="assets/fotos_app/foto_3.png"/>
      <h2>Eficiente</h2>
      <p>Es lo mas eficiente lo que significa que estara disponible 24/7</p>
    </ion-slide>
  
    <ion-slide>
      <img src="assets/fotos_app/foto_2.png"/>
      <h2>Seguro</h2>
      <p>Y por ultimo, este sistema es 100% seguro con su propio sistema de seguridad :)</p>
    </ion-slide>
    
  </ion-slides>
<!--
  <ion-card>
    <img src="assets/fotos_app/auto_negro.png" alt="Imagen">
    <ion-card-header>
      <ion-card-subtitle>Rapido, eficiente y seguro :')</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
-->
<!-- ---------------------------------------------SEPARACION PARA MAPA DE GOOGLE-------------------------------------------------------- -->

<h3 id="titulo_map">Aqui podras ver tu direccion para poder ser recogido por un vehiculo duoc  ↓</h3>

<ion-card id="map">

</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title color="light">
      <h3 class="pie_app">Duoc UC</h3>
    </ion-title>
  </ion-toolbar>
</ion-footer>

