<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevoApp
    </ion-title>

    <ion-buttons slot="start" >
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  <h3 align="center"> WELCOME     <ion-icon name="accessibility-sharp"></ion-icon></h3>
  <h1 align="center">¿A dónde te llevo?</h1>
  
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!--CUENTA, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->
        <ion-item [routerLink] = "['/registro']">
          <ion-icon name="person-add-sharp"></ion-icon>
          Registro
        </ion-item>
        <ion-item [routerLink] ="['/inicio']">
          <ion-icon name="enter-sharp"></ion-icon>
          Login
        </ion-item>
        <ion-item [routerLink] = "['/contactos']">
          <ion-icon name="call-sharp"></ion-icon>   
          Contactos
        </ion-item>
        <ion-item [routerLink] = "['/contactos']">
          <ion-icon name="build-sharp"></ion-icon>
          Configuraciones 
        </ion-item>
        <ion-item [routerLink] = "['/ayuda']">
          <ion-icon name="information-circle-sharp"></ion-icon>  
          Ayuda
        </ion-item>
        <!--LOGOUT, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-card>
    <img src="assets/fotos_app/auto_negro.png" alt="Imagen">
    <ion-card-header>
      <ion-card-subtitle>Rapido, eficiente y seguro :')</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

<!-- ---------------------------------------------SEPARACION PARA MAPA DE GOOGLE-------------------------------------------------------- -->

<h3 id="titulo_map" align="center">Aqui podras ver tu direccion para poder ser recogido por un vehiculo duoc  ↓</h3>

<ion-card id="map">

</ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Duoc uc</ion-title>
  </ion-toolbar>
</ion-footer>

