<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">
      <h3 class="titulo_app">TeLlevoApp<ion-icon name="car-sport-sharp"></ion-icon></h3>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="contenedor_login">
    <ion-card-header>
          <ion-card-title class="titulo_app">Restablecer Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating"> 
          <ion-icon name="people-outline"></ion-icon> Ingresar nueva Contraseña </ion-label>
        <ion-input type="password" placeholder="asd123#!*" #txtConstrasenia></ion-input>

      </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" fill="solid" expand="full" (click)="actualizar(txtConstrasenia)">
                  Restablecer
                </ion-button>
            </ion-col>
        </ion-row>

        <p><ion-text color="danger">*</ion-text>Ingresa la contraseña antigua y la nueva para restablecerla correctamente</p>
    
    </ion-card-content>
</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title color="light">
      <h3 class="pie_app">Duoc UC</h3>
    </ion-title>
  </ion-toolbar>
</ion-footer>