ion-button{
    margin-top: 15px;
    margin-bottom: 75px;

    --ion-background-color:#efb810;
};

h1{ 
margin-left: 50px;
margin-right: 50px;
background-color: #efb810;
border-radius: 20px;

}


.conte{
    --ion-background-color:#012C56;
};

.boton {
    --ion-background-color:#012C56;
};

ion-avatar{
    border-radius: 20px;
};


.contenedor_Hist{
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    margin-bottom: 30px;
    height: 90%;
  }

  .titulo_app{
    text-align: center;
  }

.pie_app{
  text-align: center;
}

.square{  
  width: 70px;
  height: 50px;
  border-radius: 10px;
}

.squareb{  
  width: 70px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

ion-button{
  margin-top: 35px;
}