ion-button{
    margin-top: 15px;
    margin-bottom: 75px;

    --ion-background-color:#efb810;
};



h1{ 
margin-left: 50px;
margin-right: 50px;
background-color: #efb810;
border-radius: 20px;

};


.conte{
    --ion-background-color:#012C56;
};

.boton {
    --ion-background-color:#012C56;
};

ion-avatar{
    margin-top: 25px;
    margin-left: 135px;
    border-radius: 20px;
};