<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />


<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">
 <h3>TeLlevoApp<ion-icon name="car-sport-sharp"></ion-icon></h3>
    </ion-title>

    <ion-buttons slot="start" >
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!--CUENTA, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->
        <ion-item [routerLink] = "['/registro']">
          <ion-icon name="home-outline"></ion-icon>
          Inicio
        </ion-item>
        <ion-item [routerLink] = "['/registro']">
          <ion-icon name="person-add-outline"></ion-icon>
          Registro
        </ion-item>
        <ion-item [routerLink] ="['/inicio']">
          <ion-icon name="log-in-outline"></ion-icon>
          Login
        </ion-item>
        <ion-item [routerLink] = "['/contactos']">
          <ion-icon  name="call-sharp"></ion-icon>
          Contactos
        </ion-item>
        <ion-item [routerLink] = "['/ayuda']">
          <ion-icon name="information-outline"></ion-icon>
          Ayuda
        </ion-item>
        <!--LOGOUT, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>

<ion-content class="conte">

  <ion-card class="contenedor_Hist">
          <ion-card-header>
                <ion-card-title class="titulo_app"><b>Contactos</b></ion-card-title>
          </ion-card-header>
        <ion-card-content>
            <ion-list>
              <ion-avatar>
                    <img src="https://w7.pngwing.com/pngs/1002/468/png-transparent-airplane-computer-icons-passenger-transport-airplane-angle-logo-car-seat.png">           
              </ion-avatar>
            <ion-button expand="block" [routerLink] = "['/pasajeros']">Pasajeros</ion-button>
                  <br />
                <ion-avatar>
                    <img src="https://img2.freepng.es/20180421/uyq/kisspng-car-computer-icons-sedan-auto-detailing-auto-vector-5adb8f31845cb4.3836226215243384815422.jpg">
                </ion-avatar>
                <ion-button expand="block"  [routerLink] = "['/conductores']">Conductores</ion-button>
            </ion-list>
          </ion-card-content>
      </ion-card>
  </ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-title color="light">
       <h3 class="pie_app">Duoc UC</h3>
    </ion-title>
  </ion-toolbar>
</ion-footer>



